<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <title>Partytown Test</title>
        <script>
            {{{ partytown_inline_script }}}
        </script>
    </head>
    <body>
        <h1>Partytown Test</h1>


        <div id="output">
            Loading...
        </div>
        <script type="text/partytown">
            document.getElementById( 'output' ).innerText = "Hello from Partytown!";
        </script>

    </body>
</html>